/* FONTES USADAS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* -------------------------------------------------------------- */

/* BODY */

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    padding-top: 88px;
}

/* -------------------------------------------------------------- */

/* CATEGORIAS - PÁGINA DE INÍCIO */

.container_categorias {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categoria {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: white;
    width: 300px;
    height: 380px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 5px 5px 10px #2224;
}

.btn_categoria {
    border: 2px white solid;
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 120px;
    font-size: medium;
    margin-top: 10px;
}

.btn_categoria:hover,
.btn_categoria:focus,
.btn_populares:hover,
.btn_populares:focus {
    color: #231942;
    outline: 0;
}

.efeito_btn {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.efeito_btn:hover {
    box-shadow: 0 0 40px 40px #FFEDF6 inset
}

.categoria1 {
    background-image: url(../img/tudo-sobre-lactose.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.categoria2 {
    background-image: url(../img/receitas-que-amamos.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.categoria3 {
    background-image: url(../img/dicas-para-facilitar-a-vida.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* -------------------------------------------------------------- */

/* OS MAIS POPULARES - PÁGINA DE INÍCIO */

.divisor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: dancing script;
    font-size: 45px;
}

.divisor img {
    margin-bottom: 20px;
}

.linha_conteudos {
    display: flex;
    justify-content: space-around;
    height: 520px;
    /* width: 100%; */
    padding: 30px;
}

.linha_conteudos img {
    width: 340px;
    margin-bottom: 20px;
}

.linha_conteudos strong {
    color: white;
    font-size: larger;
    margin-bottom: 15px;
}

.linha_conteudos span {
    font-size: 17px;
}

.linha_conteudos a {
    margin-top: 25px;
    color: white;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: #9F86C0;
    box-shadow: 5px 5px 10px #2224;
    width: 350px;
}

/* -------------------------------------------------------------- */

/* NEWSLATTER - PÁGINA DE INÍCIO */

.newslatter {
    width: 100%;
    height: 160px;
    background-color: #231942;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.titulo_news {
    color: white;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.formulario_news {
    width: 950px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario_news div {
    align-self: flex-end;
}

.formulario_news input {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px white solid;
    width: 400px;
    text-align: center;
    color: white;
    font-size: medium;
    padding: 5px;
    outline: none;
}