/* FONTES USADAS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* -------------------------------------------------------------- */

/* BODY */

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    padding-top: 88px;
    min-height: 100vh;
    overflow-X: hidden;
    /* overflow-y: hidden; */
    /* position: relative; */
}

/* -------------------------------------------------------------- */

.container_geral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 400px;
    min-height: calc(100vh - 180px);
}

.container_perfil {
    background-color: #FFF3FA;
    width: 300px;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    box-shadow: 5px 5px 10px #2224;
    position: fixed;
    top: 60px;
    left: 0;
}

.container_perfil h1 {
    color: #9F86C0;
}

.container_perfil img {
    width: 150px;
    filter: drop-shadow(5px 5px 10px #2224);
}

.container_perfil span,
.container_perfil strong {
    font-size: large;
}

.container_metricas {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
}

.divisor img {
    margin-bottom: 20px;
}

.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 120px; */
    margin-bottom: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 45px;
    font-weight: 700;
    color: #9F86C0;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 90;
}

.metricas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.usuarios_cadastrados {
    background-color: #5E548E;
    color: white;
    width: 270px;
    height: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.usuarios_cadastrados strong {
    font-size: larger;
    margin-bottom: 20px;
}

.usuarios_cadastrados span {
    font-size: 80px;
    font-weight: 800;
}

.media_idade {
    background-color: #BE95C4;
    color: white;
    width: 270px;
    height: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.media_idade strong {
    font-size: larger;
    margin-bottom: 20px;
}

.media_idade span {
    font-size: 80px;
    font-weight: 800;
}

.postagens_forum {
    background-color: #231942;
    color: white;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

.postagens_forum strong {
    font-size: larger;
    margin-bottom: 20px;
}

.postagens_forum span {
    font-size: 80px;
    font-weight: 800;
}

.usuario_media {
    display: flex;
    justify-content: space-between;
    width: 600px;
}