<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Aquela da Lactose</title>

    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">



</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="container_menu">
            <a href="/">
                <img src="logo/Logo-Aquela-da-Lactose-branco.png" alt="Logo-Aquela-da-Lactose" width="180px">
            </a>
            <ul class="navbar">
                <li>
                    <a href="/">
                        Início
                    </a>
                </li>
                <li class="submenu">
                    Conteúdo
                    <ul>
                        <li>
                            <a href="/tudo-sobre-lactose">
                                Tudo sobre Lactose
                            </a>
                        </li>
                        <li>
                            <a href="/receitas">
                                Receitas
                            </a>
                        </li>
                        <li>
                            <a href="/dicas">
                                Dicas
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contato">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li class="agora">
                    <a href="/cadastro">
                        Cadastrar
                    </a>
                </li>
            </ul>
            <div class="redes_sociais">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/pinterest.png" alt="pinterest">
            </div>
        </div>
    </div>
    <!-- FIM HEADER -->

    <div class="container_geral_cadastro">

        <div class="container_cadastro">

            <div class="container_img_cadastro">
                <img src="img/cadastro.png" alt="">
            </div>

            <div class="form_cadastro">

                <div class="cadastro">
                    <h2 class="titulo_login">
                        Cadastro
                    </h2>
                </div>

                <span>Nome:</span>
                <input type="text" placeholder="Seu nome" id="input_nome_cadastro">

                <span>Idade:</span>
                <input type="number" id="input_idade" class="idade_cadastro">

                <span>E-mail:</span>
                <input type="email" placeholder="exemplo@email.com.br" id="input_email_cadastro">

                <span>Senha:</span>
                <input type="password" placeholder="Informe a sua senha" id="input_senha">

                <span>Confirmação de senha:</span>
                <input type="password" placeholder="Confirme a sua senha" id="input_confirmacao_senha">

                <button class="btn_enviar_contato" onclick="cadastrar()">
                    Cadastrar
                </button>

            </div>

        </div>

    </div>


    <!-- INCIO FOOTER -->
    <div class="footer">

        <span class="texto_footer">
            2022 © Aquela da Lactose por Heloisa Brito - Todos os Direitos Reservados. <br>
            Faculdade São Paulo Tech School
        </span>

    </div>
    <!-- FIM FOOTER -->


    <script>
        async function cadastrar() {
            var nome = input_nome_cadastro.value;
            var idade = Number(input_idade.value);
            var email = input_email_cadastro.value;
            var senha = input_senha.value;
            var confSenha = input_confirmacao_senha.value;



            if (nome != "" && idade != "" && email != "" && senha != "" && confSenha != "") {

                if (senha == confSenha) {


                    let datas = {
                        nome: nome,
                        idade: idade,
                        email: email,
                        senha: senha,
                    };
                    /** @type {RequestInit} */
                    let options = {
                        cache: 'default',
                        headers: { 'Content-Type': 'application/json' },
                        mode: 'cors',
                        method: 'POST',
                        body: JSON.stringify(datas)
                    };

                    try {
                        // passar a rota onde vc quer
                        let req = await fetch('http://localhost:3000/user/cadastrar', options);
                        /** @type {{message: string, result: Array<any>}} */
                        let res = await req.json();
                        console.log(res);

                        if (res.message === 'OK') {
                            nome = "";
                            idade = "";
                            email = "";
                            senha = "";
                            confSenha = "";

                            alert("Você foi cadastrado com sucesso! Agora é só fazer o login :D");
                        }

                    } catch (error) {
                        console.error(error);
                        alert("Ops! Houve algum erro para cadastrar. Confira os campos e tente novamente.");
                    }

                } else {
                    alert("Ops! Houve algum erro para cadastrar. Confira os campos e tente novamente.");
                }
            } else {
                alert("Ops! Houve algum erro para cadastrar. Confira os campos e tente novamente.");
            }
        }


    </script>