<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdo | Aquela da Lactose</title>

    <link rel="stylesheet" href="css/conteudo.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">

</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="container_menu">
            <a href="/">
                <img src="logo/Logo-Aquela-da-Lactose-branco.png" alt="Logo-Aquela-da-Lactose" width="180px">
            </a>
            <ul class="navbar">
                <li>
                    <a href="/">
                        Início
                    </a>
                </li>
                <li class="submenu">
                    Conteúdo
                    <ul>
                        <li>
                            <a href="/tudo-sobre-lactose">
                                Tudo sobre Lactose
                            </a>
                        </li>
                        <li>
                            <a href="/receitas">
                                Receitas
                            </a>
                        </li>
                        <li class="agora">
                            <a href="/dicas">
                                Dicas
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contato">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/cadastro">
                        Cadastrar
                    </a>
                </li>
            </ul>
            <div class="redes_sociais">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/pinterest.png" alt="pinterest">
            </div>
        </div>
    </div>
    <!-- FIM HEADER -->

    <div class="divisor">

        <span>
            Titulo do Conteúdo
        </span>

        <img src="img/divisor.png" alt="" width="900px">

    </div>


    <div class="container_geral">
        <div class="conteudo">
            <img src="img/conteudo-tudo-sobre-a-lactose.jpg" alt="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, omnis deserunt tempore, vero obcaecati
            similique ipsum architecto libero dolores ipsa reprehenderit, sunt vel. Blanditiis velit quisquam
            repellendus commodi! Nobis, modi!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga veniam unde? Excepturi earum rem natus
            vero voluptatum aliquam laborum quo eaque? Culpa laudantium dolore amet placeat neque distinctio alias.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quaerat laboriosam nisi sint, distinctio
            vel impedit voluptates? Magni vitae magnam nemo placeat inventore minima doloribus, libero a velit, aperiam
            voluptas.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, omnis deserunt tempore, vero obcaecati
            similique ipsum architecto libero dolores ipsa reprehenderit, sunt vel. Blanditiis velit quisquam
            repellendus commodi! Nobis, modi!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga veniam unde? Excepturi earum rem natus
            vero voluptatum aliquam laborum quo eaque? Culpa laudantium dolore amet placeat neque distinctio alias.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quaerat laboriosam nisi sint, distinctio
            vel impedit voluptates? Magni vitae magnam nemo placeat inventore minima doloribus, libero a velit, aperiam
            voluptas.
        </div>
    </div>



    <!-- INCIO FOOTER -->
    <div class="footer">

        <span class="texto_footer">
            2022 © Aquela da Lactose por Heloisa Brito - Todos os Direitos Reservados. <br>
            Faculdade São Paulo Tech School
        </span>

    </div>

    <!-- FIM FOOTER -->