<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início | Aquela da Lactose</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">

</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="container_menu">
            <a href="/">
                <img src="logo/Logo-Aquela-da-Lactose-branco.png" alt="Logo-Aquela-da-Lactose" width="180px">
            </a>
            <ul class="navbar">
                <li class="agora">
                    <a href="/">
                        Início
                    </a>
                </li>
                <li class="submenu">
                    Conteúdo
                    <ul>
                        <li>
                            <a href="/tudo-sobre-lactose">
                                Tudo sobre Lactose
                            </a>
                        </li>
                        <li>
                            <a href="/receitas">
                                Receitas
                            </a>
                        </li>
                        <li>
                            <a href="/dicas">
                                Dicas
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contato">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/cadastro">
                        Cadastrar
                    </a>
                </li>
            </ul>
            <div class="redes_sociais">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/pinterest.png" alt="pinterest">
            </div>
        </div>
    </div>
    <!-- FIM HEADER -->

    <!-- INCIO BANNER -->
    <div class="container_banner">

        <img src="img/banner.jpg" alt="quem-eu-sou" width="100%">

    </div>
    <!-- FIM BANNER -->

    <!-- INICIO CATEGORIAS -->
    <div class="container_categorias">

        <div class="categoria categoria1">
            Tudo sobre
            <br>
            a Lactose
            <br>
            <a href="/tudo-sobre-lactose">
                <button class="btn_categoria efeito_btn">
                    vem ver
                </button>
            </a>
        </div>

        <div class="categoria categoria2">
            Receitas que
            <br>
            amamos
            <br>
            <a href="/receitas">
                <button class="btn_categoria efeito_btn">
                    vem ver
                </button>
            </a>
        </div>

        <div class="categoria categoria3">
            Dicas para
            <br>
            facilitar a vida
            <br>
            <a href="/dicas">
                <button class="btn_categoria efeito_btn">
                    vem ver
                </button>
            </a>
        </div>
    </div>
    <!-- FIM CATEGORIAS -->

    <!-- INICIO POPULARES -->
    <div class="divisor">
        <img src="img/divisor.png" alt="" width="900px">

        <span class="populares">
            os mais populares
        </span>

    </div>

    <div class="linha_conteudos">

        <div class="conteudo">
            <img src="img/chocolate-em-po-tem-lactose.jpg" alt="">
            <strong>
                Chocolate em pó tem <br>lactose?
            </strong>
            <span>Hoje venho responder uma pergunta
                que recebo diariamente: chocolate <br> em pó tem
                lactose?
            </span>

            <a href="/conteudo"> Leia mais > </a>
        </div>

        <div class="conteudo">
            <img src="img/pode-conter-tracos-de-1.jpg" alt="">
            <strong>
                Pode conter traços de leite e glúten – o que isso quer dizer?
            </strong>
            <span>
                Você já deve ter visto em diversas embalagens o famoso pode conter traços de leite...
            </span>
            <a href="/conteudo"> Leia mais > </a>
        </div>

        <div class="conteudo">
            <img src="img/não-é-intolerância-alimentar.jpg" alt="">
            <strong>
                Não é intolerância alimentar, é estresse!
            </strong>
            <span>
                Sei que este post pode dar o que falar, mas ele é necessário! Conversando com a Flavia sobre temas
                para...
            </span>

            <a href="/conteudo"> Leia mais > </a>
        </div>

    </div>
    </div>
    <!-- FIM POPULARES -->

    <!-- INICIO NEWSLATTER -->
    <div class="newslatter">

        <span class="titulo_news">
            um pouco mais de mim pra você <br>
            diretamente na sua caixa de entrada
        </span>

        <div class="formulario_news">

            <div class="input_nome">
                <input type="text" id="input_nome_newslatter" placeholder="seu nome">
            </div>

            <div class="input_email">
                <input type="text" id="input_email_newslatter" placeholder="seu e-mail">

                <img src="img/seta-news.png" alt="" width="25px">
            </div>

        </div>

    </div>
    <!-- FIM NEWSLATTER -->

    <!-- INCIO FOOTER -->
    <div class="footer">

        <span class="texto_footer">
            2022 © Aquela da Lactose por Heloisa Brito - Todos os Direitos Reservados. <br>
            Faculdade São Paulo Tech School
        </span>

    </div>
    <!-- FIM FOOTER -->



</body>

</html>