<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Aquela da Lactose</title>

    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">

</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="container_menu">
            <a href="/">
                <img src="logo/Logo-Aquela-da-Lactose-branco.png" alt="Logo-Aquela-da-Lactose" width="180px">
            </a>
            <ul class="navbar">
                <li>
                    <a href="/">
                        Início
                    </a>
                </li>
                <li class="submenu">
                    Conteúdo
                    <ul>
                        <li>
                            <a href="/tudo-sobre-lactose">
                                Tudo sobre Lactose
                            </a>
                        </li>
                        <li>
                            <a href="/receitas">
                                Receitas
                            </a>
                        </li>
                        <li>
                            <a href="/dicas">
                                Dicas
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contato">
                        Contato
                    </a>
                </li>
                <li class="agora">
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/cadastro">
                        Cadastrar
                    </a>
                </li>
            </ul>
            <div class="redes_sociais">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/pinterest.png" alt="pinterest">
            </div>
        </div>
    </div>
    <!-- FIM HEADER -->

    <div class="container_geral">

        <div class="container_login">

            <div class="container_img">
                <img src="img/login.png" alt="">
            </div>

            <div class="form_login">

                <div class="login">
                    <h2 class="titulo_login">
                        Login
                    </h2>
                </div>

                <input type="email" placeholder="exemplo@email.com.br" id="input_email_login">
                <br>
                <input type="password" placeholder="Sua senha" id="input_senha_login">
                <br>

                <span class="esqueci_senha">
                    <a href="/esqueci_senha">
                        Esqueci a senha
                    </a>
                </span>

                <button class="btn_entrar" onclick="entrar()">
                    Entrar
                </button>

                <div class="novo_cadastro">
                    <span class="novo_aqui">
                        É novo por aqui?
                        <br>
                        <a href="/cadastro">
                            Crie a sua conta aqui!
                        </a>
                    </span>
                </div>

            </div>

        </div>

    </div>


    <!-- INCIO FOOTER -->
    <div class="footer">

        <span class="texto_footer">
            2022 © Aquela da Lactose por Heloisa Brito - Todos os Direitos Reservados. <br>
            Faculdade São Paulo Tech School
        </span>

    </div>
    <!-- FIM FOOTER -->

    <script>

        async function entrar() {
            var email = input_email_login.value;
            var senha = input_senha_login.value;


            if (verificar()) {

                let datas = {
                    email: email,
                    senha: senha,
                };
                /** @type {RequestInit} */
                let options = {
                    cache: 'default',
                    headers: { 'Content-Type': 'application/json' },
                    mode: 'cors',
                    method: 'POST',
                    body: JSON.stringify(datas)
                };

                try {
                    let req = await fetch('http://localhost:3000/user/login', options);
                    /** @type {{message: string, result?: Array<any>, status: number}} */
                    let res = await req.json();
                    console.log(res);
                    if (res.message === 'OK' && res.result.length > 0) {
                        limparCampos();
                        sessionStorage.setItem('Usuario', JSON.stringify(res.result[0]));
                        window.location.href = '/perfil_usuario';
                    } else {
                        alert("E-mail ou senha estão incorretos. Tente novamente!")
                    }
                } catch (error) {
                    console.error(error);
                    alert("Houve algum erro. Tente novamente!")
                }

            }

        };

        const verificar = () => {
            let campo = [
                input_email_login.value,
                input_senha_login.value,
            ];
            let error = false;
            for (let i = 0; i < campo.length; i++) {
                let campoIncorreto = campo[i].trim() == '' || campo[i].length <= 0;
                if (campoIncorreto) {
                    error = true;
                    break;
                }
            }

            if (error) {
                alert("Preencha todos os campos corretamente e tente novamente!")
            }
            return !error;
        };
        const limparCampos = () => {
            let campos = [
                input_email_login.value,
                input_senha_login.value,
            ];
            for (let i = 0; i < campos.length; i++) {
                campos[i].value = '';
            }
        };


    </script>