<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil | Aquela da Lactose</title>

    <link rel="stylesheet" href="css/perfil_usuario.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">


</head>

<body onload="listarPostagem()">

    <!-- HEADER -->
    <div class="header">
        <div class="container_menu">
            <a href="/">
                <img src="logo/Logo-Aquela-da-Lactose-branco.png" alt="Logo-Aquela-da-Lactose" width="180px">
            </a>
            <ul class="navbar">
                <li>
                    <a href="/">
                        Início
                    </a>
                </li>
                <li class="submenu">
                    Conteúdo
                    <ul>
                        <li>
                            <a href="/tudo-sobre-lactose">
                                Tudo sobre Lactose
                            </a>
                        </li>
                        <li>
                            <a href="/receitas">
                                Receitas
                            </a>
                        </li>
                        <li>
                            <a href="/dicas">
                                Dicas
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contato">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/cadastro">
                        Cadastrar
                    </a>
                </li>
            </ul>
            <div class="redes_sociais">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/pinterest.png" alt="pinterest">
            </div>
        </div>
    </div>
    <!-- FIM HEADER -->

    <div class="container_geral">

        <div class="container_perfil">

            <h1>Perfil</h1>

            <img src="img/perfil-usuario.png" alt="perfil_usuario">


            <h2 id="nome_usuario">Nome Usuário</h2>

            <span id="email_usuario">exemplo@email.com</span>
            <br>
            <br>
            <span>
                <a href="/" onclick="sair()">Sair</a>
            </span>

        </div>

        <div class="forum">

            <strong class="titulo_forum">Fórum</strong>

            <span class="subtitulo_forum">
                Aqui você pode acompanhar o que outras pessoas compartilham, e você também pode compartilhar suas
                experiências e dicas!
            </span>

            <br><br>
            <span>Título:</span>
            <input type="text" id="input_titulo_forum" placeholder="Escreva o título da sua mensagem aqui">

            <br>

            <span>Mensagem:</span>
            <textarea type="text" placeholder="Escreva a sua mensagem aqui" id="input_mensagem_forum"
                class="input_mensagem"></textarea>

            <button onclick="publicar()" class="btn_publicar">Publicar</button>

            <div id="postagens">

            </div>

        </div>




    </div>

    <!-- INCIO FOOTER -->
    <div class="footer">

        <span class="texto_footer">
            2022 © Aquela da Lactose por Heloisa Brito - Todos os Direitos Reservados. <br>
            Faculdade São Paulo Tech School
        </span>

    </div>
    <!-- FIM FOOTER -->

    <script>

        var user = sessionStorage.getItem("Usuario")
        console.log(user)

        var nome = JSON.parse(user).nome
        var fkusuario = JSON.parse(user).idUsuario
        var email = JSON.parse(user).email

        nome_usuario.innerHTML = nome;
        email_usuario.innerHTML = email;

        function sair() {
            sessionStorage.clear()
        }

        async function publicar() {
            var titulo = input_titulo_forum.value;
            var mensagem = input_mensagem_forum.value;

            console.log(titulo, mensagem);

            if (titulo == "" && mensagem == "") {
                alert("Ops! Você precisa preencher todos os campos :D");

            } else {
                let datas = {
                    titulo: titulo,
                    mensagem: mensagem,
                    fkusuario: fkusuario,
                };
                /** @type {RequestInit} */
                let options = {
                    cache: 'default',
                    headers: { 'Content-Type': 'application/json' },
                    mode: 'cors',
                    method: 'POST',
                    body: JSON.stringify(datas)
                };

                try {

                    let req = await fetch('http://localhost:3000/postagem/post', options);
                    /** @type {{message: string, result: Array<any>}} */
                    let res = await req.json();
                    console.log(res);

                    if (res.message === 'OK') {
                        titulo = "";
                        mensagem = "";


                        alert("Mensagem inserida com sucesso :D");
                    }

                } catch (error) {
                    console.error(error);
                    alert("Ops! Houve algum erro para postar a sua mensagem. Confira os campos e tente novamente.");
                }
            }

        }

        async function listarPostagem() {
            try {

                let req = await fetch('http://localhost:3000/postagem/get');
                /** @type {{message: string, result: Array<any>}} */
                let res = await req.json();
                console.log(res);

                if (res.message === 'OK') {

                    for (var i = 0; i < res.result.length; i++) {

                        var postagem = res.result[i];

                        postagens.innerHTML += ` 
                        <div class="comentario">
                            <strong class="titulo_comentario">
                                ${postagem.titulo}
                            </strong>

                            <span class="autor">
                                Autor: ${postagem.nome}
                            </span>

                            <span>
                                ${postagem.mensagem}
                            </span>
                        </div>
                        `

                    }
                }

            } catch (error) {
                console.error(error);
                alert("Ops! Houve algum erro para postar a sua mensagem. Confira os campos e tente novamente.");
            }
        }

    </script>