<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas | Aquela da Lactose</title>

    <link rel="stylesheet" href="css/categoria.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">

</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="container_menu">
            <a href="/">
                <img src="logo/Logo-Aquela-da-Lactose-branco.png" alt="Logo-Aquela-da-Lactose" width="180px">
            </a>
            <ul class="navbar">
                <li>
                    <a href="/">
                        Início
                    </a>
                </li>
                <li class="submenu">
                    Conteúdo
                    <ul>
                        <li>
                            <a href="/tudo-sobre-lactose">
                                Tudo sobre Lactose
                            </a>
                        </li>
                        <li class="agora">
                            <a href="/receitas">
                                Receitas
                            </a>
                        </li>
                        <li>
                            <a href="/dicas">
                                Dicas
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contato">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/cadastro">
                        Cadastrar
                    </a>
                </li>
            </ul>
            <div class="redes_sociais">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/pinterest.png" alt="pinterest">
            </div>
        </div>
    </div>
    <!-- FIM HEADER -->

    <div class="divisor">

        <span>
            Receitas
        </span>

        <img src="img/divisor.png" alt="" width="900px">

    </div>

    <div class="linha_conteudos">

        <div class="conteudo">
            <img src="img/torta-de-limao-sem-lactose.jpg" alt="">
            <strong>
                Torta de limão sem<br> lactose
            </strong>
            <span>
                Vocês vão se surpreender <br>muito com essa torta de<br> limão sem lactose!
            </span>

            <a href="/conteudo"> Leia mais > </a>
        </div>

        <div class="conteudo">
            <img src="img/bolo-de-banana-e-cookies-sem-acucar-e-lactose.jpg" alt="">
            <strong>
                Bolo de banana e cookies sem açúcar e lactose
            </strong>
            <span>
                Este bolo de banana e cookies sem açúcar e lactose tem tanto sabor que você nem percebe que não há...
            </span>
            <a href="/conteudo"> Leia mais > </a>
        </div>

        <div class="conteudo">
            <img src="img/Bolo-de-caneca-low-carb.jpg" alt="">
            <strong>
                Bolo de caneca<br> low carb
            </strong>
            <span>
                Que tal um bolo de caneca low carb não menos delicioso que o tradicional e super saudável?
            </span>

            <a href="/conteudo"> Leia mais > </a>
        </div>
    </div>

    <!-- INCIO FOOTER -->
    <div class="footer">

        <span class="texto_footer">
            2022 © Aquela da Lactose por Heloisa Brito - Todos os Direitos Reservados. <br>
            Faculdade São Paulo Tech School
        </span>

    </div>

    <!-- FIM FOOTER -->